<div class="card-columns">
    <div class="card">
        <img class="card-img-top" src=".../100px160/" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Card title that wraps to a new line</h5>
            <p class="card-text">Here is a description of the product.</p>
            <button type="button" class="btn " data-toggle="modal" data-target="#coachModal">
                Learn More
            </button>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src=".../100px160/" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Card title that wraps to a new line</h5>
            <p class="card-text">Here is a description of the product.</p>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src=".../100px160/" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Card title that wraps to a new line</h5>
            <p class="card-text">Here is a description of the product.</p>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src=".../100px160/" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Card title that wraps to a new line</h5>
            <p class="card-text">Here is a description of the product.</p>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src=".../100px160/" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Card title that wraps to a new line</h5>
            <p class="card-text">Here is a description of the product.</p>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src=".../100px160/" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Card title that wraps to a new line</h5>
            <p class="card-text">Here is a description of the product.</p>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src=".../100px160/" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Card title that wraps to a new line</h5>
            <p class="card-text">Here is a description of the product.</p>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src=".../100px160/" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Card title that wraps to a new line</h5>
            <p class="card-text">Here is a description of the product.</p>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src=".../100px160/" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Card title that wraps to a new line</h5>
            <p class="card-text">Here is a description of the product.</p>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src=".../100px160/" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Card title that wraps to a new line</h5>
            <p class="card-text">Here is a description of the product.</p>
        </div>
    </div>
    <!--- modals -->
    {{{memberContent}}}
</div>
