<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>{{ pageTitle }}</title>
    <link rel="stylesheet" href="/public/css/styles.min.css">
</head>

<body>
    <div class="container">
        <h1 id="the-heading">Build Your Entourage!</h1>
        <section class="row">
            <nav class="col-sm-12 col-md-4">
                <ul>
                    <li><a href="#coachCard">Life Coach</a></li>
                    <li><a href="#hypeCard">Hype Man</a></li>
                    <li><a href="#wingCard">Wing Man</a></li>
                    <li><a href="#jokeCard">Jokester</a></li>
                    <li><a href="#nanCard">Cool Nanny</a></li>
                    <li><a href="#djCard">DJ</a></li>
                    <li><a href="#fitCard">Fit Bot</a></li>
                    <li><a href="#foodCard">Foodie</a></li>
                    <li><a href="#knowCard">Know-It-All</a></li>
                    <li><a href="#styleCard">Stylist</a></li>
                </ul>
            </nav>
            <div class="col-sm-12 col-md-8">
                {{{body}}}
            </div>
        </section>
    </div>

    <script src="/public/js/vendor.min.js">
    </script>
</body>
</html>
